<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- <property name="dialect">org.hibernate.dialect.OracleDialect</property> -->
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@localhost:1521/xe</property>
		<property name="connection.username">training</property>
		<property name="connection.password">Password123</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<!-- <mapping class="oneToone.Person"/>
		<mapping class="oneToone.DL"/> -->
		<!-- <mapping class="onetomanybidir.Question"/>
		<mapping class="onetomanybidir.Answer"/> -->
		<mapping class="inheritancemapping.Employee"/>
		<mapping class="inheritancemapping.ContractEmployee"/>
		<mapping class="inheritancemapping.ParmanentEmployee"/>
	</session-factory>
</hibernate-configuration>